---

---
@charset "utf-8";
$primary: #4839E5;
body { margin: 0px; }
li { list-style: none;};
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
a {
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
}
a:hover::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 3px;
  width: 100%;
  background: #343bdf;
  background: -moz-linear-gradient(-45deg, #343bdf 0%, #9b35ff 46%, #e46464 100%);
  background: -webkit-linear-gradient(-45deg, #343bdf 0%,#9b35ff 46%,#e46464 100%);
  background: linear-gradient(135deg, #343bdf 0%,#9b35ff 46%,#e46464 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343bdf', endColorstr='#e46464',GradientType=1 );
 }

// padding //
.p__8 {
  padding: 8px;
}
.p__8-top {
  padding-top: 8px;
}
.p__16 {
  padding: 16px;
}
.p__16-top {
  padding-top: 16px;
}
.p__16-bottom {
  padding-bottom: 16px;
}
.p__16-right {
  padding-right: 16px;
}
.p__16-left {
  padding-left: 16px;
}
.p__24 {
  padding: 24px;
}
.p__24-top {
  padding-top: 24px;
}
.p__24-bottom {
  padding-bottom: 24px;
}
.p__24-right {
  padding-right: 24px;
}
.p__24-left {
  padding-left: 24px;
}
.p__40-left {
  padding-left: 40px;
}
.p__96-bottom {
  padding-bottom: 96px;
}
.p__120-bottom {
  padding-bottom: 120px;
}
.m__16-left {
  margin-left: 16px;
}

// colors //
.c__project1 {
  background-color: #E1EFF4;
}
.c__project2 {
  background-color: #FCF6EB;
}
.c__project3 {
  background-color: #ECF5F8;
}
.c__project4 {
  background-color: #ECF5F8;
}
.c__project5 {
  background-color: #FFEAEF;
}
.c__emphasized {
  color: $primary;
}
.c__galleryLabel {
  color: #E57639;
}

// text styles //
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-family: "leitura-news", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  color: #3C3C3C;
}
h3 {
  font-family: 'proxima-nova';
  font-size: 23px;
  line-height: 24px;
}
.t__xxl {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 800;
  font-size: 45px;
  color: $primary;
}
.t__l {
  font-family: 'proxima-nova', serif;
  font-size: 36px;
  line-height: 48px;
  color: #000;
}
.t__m {
  font-family: 'proxima-nova';
  font-size: 23px;
  line-height: 24px;
}
.t__smallCaps {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: inherit;
}
.t__emphasizedText {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #333333;
}
.t__lightText {
  font-family: "leitura-news", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  color: #516268;
}
.t__deemphasizedText {
  font-family: "leitura-news", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  color: #3C3C3C;
}
// nav bar //
.nav_container {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}
.nav_content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px)	 {
  .nav_name-container {
    position: absolute;
    top: 0%;
    left: 40%;
  }
}
@media screen and (max-width: 1024px)	 {
  .nav_name-container {
    position: absolute;
    top: 0%;
    left: 35%;
  }
}

.nav_name-container:hover {
  opacity: 0.7;
}
.nav_name {
  margin-bottom: 0px;
}
.nav_name-description {
  margin-top: 0px;
}
@media screen and (min-width: 1024px)	 {
  .nav_links-container {
    width: 100%;
    display: flex;
    padding-left: 48px;
  }
  .nav_links-pages {
      width: 50%;
      display: block;
      padding-left: 120px;
  }
  .nav_links-social {
    width: 50%;
    text-align: right;
    padding-left: 120px;
  }
}
@media screen and (max-width: 1024px)	 {
  .nav_links-container {
    display: none;
  }
}
.nav_link {
  margin-left: 24px;
}

// social account dropdown //
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.dropdown_content {
  background-color: #fff;
  display: none;
  position: absolute;
  margin-right: 40px;
  padding-left: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
}
.dropdown:hover .dropdown_content {
    display: block;
}

// project grid //
.container_main-content {
  margin-top: 80px;
  padding-left: 136px;
  padding-right: 136px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .col_center {
    margin-left: 24px;
    margin-right: 24px;
  }
}
.tile {
  margin-bottom: 24px;
  overflow: hidden;
  min-width: 288px;
}
.project_inner {
  padding-bottom: 40%;
  overflow: hidden;
}
.project_title {
  margin-top: 8px;
  width: 85%;
}
@media screen and (min-width: 1024px)	 {
  .project_details {
    background-color: #fff;
    min-width: 300px;
    bottom: 0px;
    position: absolute;
  }
}
@media screen and (max-width: 1024px)	 {
  .project_details {
    background-color: #fff;
    min-width: 18em;
    bottom: 0px;
    position: absolute;
  }
}
.img_center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

// Journal feature //
  .label {
  background-color: #fff;
  margin-top: 0px;
  padding-left: 8px;
  padding-right: 16px;
  position: absolute;
}
.jf_container {
  margin-top: 24px;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  border-left: 1px solid #343BDF;
  border-right: 1px solid #9B35FF;
  border-bottom: 1px solid #8037F7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 10px, 1px;
  -moz-background-size: 100% 10px, 1px;
  background-size: 100% 10px, 1px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left, #343BDF 0%, #9B35FF 50%, #E46464 100%), -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
  background-image: -moz-linear-gradient(left, #343BDF 0%, #9B35FF 50%, #E46464 100%), -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
  background-image: -o-linear-gradient(left, #343BDF 0%, #9B35FF 50%, #E46464 100%), -o-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
  background-image: linear-gradient(to right, #343BDF 0%, #9B35FF 50%, #E46464 100%), linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
}

// Post layout styles //
  .post_header {
    background-size: cover;
    background-position: center center;
    height: 248px;
  }

.title_container {
  top: 280px;
}
.post_description {
  margin-top: 0px;
}
.post_title {
  margin-bottom: 8px;
}
.post_header-container {
  margin-bottom: 40px;
}
.opt_label {
  text-align: center;
}
@media screen and (min-width: 1024px)	 {
  .options_card {
    padding: 48px;
    float: left;
    margin-right: 32px;
  }
}
.opt_email {
  margin-top: 32px;
}
.opt_icon {
  position: relative;
  left: 30%;
}
.post_content {
  padding-right: 32px;
}
.details_container {
  margin-top: 40px;
  padding: 32px;
  border-style: solid;
  border-width: 1px;
}
.details {
  padding-left: 0px;
}
.detail_numeral {
  font-size: 130px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  position: absolute;
  top: 0;
  z-index: -3;
  color: rgba(220, 209, 244, 0.61);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.detail_numeral::after {
  background-image: url(http://i.imgur.com/ZNWQkfr.png);
  background-size: cover;
  content: " ";
  position: absolute;
  height: 120%;
  width: 150%;
  top: 0;
  background-position-y: -27px;
  background-position-x: -30px;
}
.detail_title {
  z-index: 2;
  position: relative;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
  overflow: hidden;
}
.detail_content {
  display: flex;
}
.detail_description {
  padding-right: 40px;
}
.video_container {
  position: relative;
}
.video_overlay {
  position: absolute;
  height: 96%;
  width: 100%;
  top: 10px;
  background-image: linear-gradient(-180deg, rgba(156,54,252,0.15) 0%, rgba(71,57,229,0.30) 100%);}
.play_button {
  background: none;
  border: none;
  z-index: 99;
  position: absolute;
  top: 40%;
  left: 45%;
}
.play_button:hover {
  opacity: .75;
}
