---

---
@charset "utf-8";
$primary: #FA886D;
body { margin: 0px;}
li { list-style: none;};
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
a {
  color: $primary;
  position: relative;
  text-decoration: none;
}
a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid $primary;
  transition: 0.35s;
}
a:hover:after {
  width: 100%;
}
::-moz-selection {
  background: rgba(164, 167, 255, 0.16);
}
::selection {
  background: rgba(164, 167, 255, 0.16);
}
i {
  padding: 4px;
}
.featherlight {
  background: rgba(255, 255, 255, 0.77) !important;
}
.ui-widget-content a {
	color: #7B939E !important;
}
.ui-widget {
  font-family: 'proxima-nova'!important;
  font-size: 15px !important;
  color: #7b939e !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
}
.btn__small {
  color: #7b939e !important;
  font-family: 'proxima-nova'!important;
  font-size: 15px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
}

// padding //
.p__8 {
  padding: 8px;
}
.p__8-right {
  padding-right: 8px;
}
.p__8-left {
  padding-left: 8px;
}
.p__8-top {
  padding-top: 8px;
}
.p__16 {
  padding: 16px;
}
.p__16-top {
  padding-top: 16px;
}
.p__16-bottom {
  padding-bottom: 16px;
}
.p__16-right {
  padding-right: 16px;
}
.p__16-left {
  padding-left: 16px;
}
.p__24 {
  padding: 24px;
}
.p__24-top {
  padding-top: 24px;
}
.p__24-bottom {
  padding-bottom: 24px;
}
.p__24-right {
  padding-right: 24px;
}
.p__24-left {
  padding-left: 24px;
}
.p__40-left {
  padding-left: 40px;
}
.p__8-bottom {
  padding-bottom: 8px;
}
.p__120-bottom {
  padding-bottom: 120px;
}
.m__8-bottom {
  margin-bottom: 8px;
}
.m__8-top {
  margin-top: 8px;
}
.m__16-left {
  margin-left: 16px;
}
.m__auto-top {
  margin-top: auto;
}
.m__0-bottom {
  margin-bottom: 0px;
}

// colors //
.c__project1 {
  background-color: #E1EFF4;
}
.c__project2 {
  background-color: #FCF6EB;
}
.c__project3 {
  background-color: #ECF5F8;
}
.c__project4 {
  background-color: #ECF5F8;
}
.c__project5 {
  background-color: #FFEAEF;
}
.c__emphasized {
  color: $primary;
}
.c__galleryLabel {
  color: #E57639;
}
.c__333333 {
  color: #333333;
}

// text styles //
p {
  font-family: 'proxima-nova';
  font-size: 18px;
  line-height: 24px;
}
.p {
  font-family: 'proxima-nova';
  font-size: 18px;
  line-height: 24px;
}
h2 {
  font-family: 'proxima-nova';
  font-size: 23px;
  line-height: 24px;
}
.t__superLarge {
  font-family: 'proxima-nova';
  font-size: 32px;
}
.t__headline {
  font-family: 'leitura-news', serif;
  font-size: 32px;
  color: #333333;
  line-height: 40px;
  font-weight: 100;
}
.t__empHeadline {
  font-weight: 400;
  font-family: 'leitura-news', serif;
  font-size: 32px;
  color: #333333;
  line-height: 40px;
}
.t__small {
  font-family: 'proxima-nova';
  font-size: 16px;
  font-weight: 400;
  color: #7B939E;
}
.t__light {
  font-family: 'proxima-nova';
  font-size: 24px;
  color: #7B939E;
}
.t__label {
  font-family: 'proxima-nova';
  font-size: 20px;
  color: #FA886D;
  text-transform: uppercase;
  font-weight: 600;
}
.t__bold {
  font-weight: 600;
}
.t__smallCaps {
  font-family: 'proxima-nova';
  font-size: 24px;
  color: #7B939E;
  font-weight: 600;
}
// nav component //
.nav__container {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
.nav__container-left {
  display: table;
  margin-right: auto;
  margin-top: 32px;
  padding-left: 64px;
}
.nav__avatar {
  background-image: url(http://i.imgur.com/Mh0ujSD.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 97px;
  outline: none;
  overflow: hidden;
  text-indent: -999px;
  white-space: nowrap;
  width: 97px;
  margin-left: 30%;
  margin-right: 30%;
}
.nav__avatar-left {
  background-image: url(http://i.imgur.com/Mh0ujSD.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 97px;
  outline: none;
  overflow: hidden;
  text-indent: -999px;
  white-space: nowrap;
  width: 97px;
  float: left;
}
@media screen and (min-width: 1024px)	 {
  .nav__name-container {
    position: absolute;
    left: 40%;
    margin-left: -12px;
  }
}
@media screen and (max-width: 1024px)	 {
  .nav__name-container {
    position: absolute;
    left: 35%;
    margin-left: -12px;
  }
}

.nav__name-container:hover {
  opacity: 0.7;
}
.nav__name {
  margin-top: auto;
  margin-bottom: auto;
}
.nav__name-description {
  margin-top: 0px;
}

// featured project component //
.feature {
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .feature__image {
    float: right;
  }
}
@media screen and (max-width: 1024px) {
  .feature__image {
    float: none;
    margin-top: 24px;
    width: 94.6%;
  }
}
.feature__textContainer {
  float: left;
  margin-top: 40px;
}

// project grid component //
  /* ----------- iPhone 5 and 5S ----------- */

  /* Portrait and Landscape */
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
      .page-container {
        padding-top: 16px;
        padding-right: 96px;
        padding-left: 96px;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
      }
  }

  /* Portrait */
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      .page-container {
        padding-top: 16px;
        padding-right: 96px;
        padding-left: 96px;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
      }
  }

  /* ----------- iPhone 6 ----------- */

  /* Portrait and Landscape */
  @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {

  }

  /* Portrait */
  @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      .page-container {
        padding-top: 16px;
        padding-right: 96px;
        padding-left: 96px;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
      }

  }

  /* ----------- iPhone 6+ ----------- */

  /* Portrait and Landscape */
  @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3) {
      .page-container {
        padding-top: 16px;
        padding-right: 96px;
        padding-left: 96px;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
      }

  }

  /* Portrait */
  @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) {
      .page-container {
        padding-top: 16px;
        padding-right: 96px;
        padding-left: 96px;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
      }

  }

  @media screen and (min-width: 480px) {
    .page-container {
      padding-top: 16px;
      padding-right: 96px;
      padding-left: 96px;
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (min-width: 480px) {
    .page-container__wide {
      margin-top: 40px;
      padding-left: 64px;
      padding-right: 64px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
    }
  }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .page-container__wide {
    padding-top: 16px;
    padding-right: 96px;
    padding-left: 96px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
// tile component //
.tile {
  margin-bottom: 0px;
  overflow: hidden;
  min-width: 288px;
}
.tile:hover {
  opacity: 0.75;
  transition: 0.35s;
}
.tile__caption {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.tile__caption--inner {
  text-align: center;
}

// Post layout styles //
  .post_header {
    background-size: cover;
    background-position: center center;
    height: 248px;
  }

.title_container {
  position: relative;
  top: 110px;
  padding-left: 24px;
  padding-bottom: 16px;
  padding-top: 1px;
  width: 60%;
}
.post_description {
  margin-top: 0px;
}
.post_title {
  margin-bottom: 8px;
}
.post_header-container {
  margin-bottom: 40px;
}
.opt_label {
  text-align: center;
}
@media screen and (min-width: 1024px)	 {
  .options_card {
    padding: 48px;
    float: left;
    margin-right: 32px;
  }
}
.opt_email {
  margin-top: 32px;
}
@media screen and (min-width: 1024px)	 {
  .opt_icon {
    position: relative;
    left: 30%;
  }
}
@media screen and (max-width: 1020px)	 {
  .opt_icon {
    position: relative;
    left: 47%;
  }
}
@media screen and (max-width: 1020px)	 {
  .options_card {
    padding: 48px;
  }
}
.post_content {
  padding-right: 32px;
}
@media screen and (min-width: 480px) {
  .details_container {
    margin-top: 40px;
    padding: 32px;
    border-style: solid;
    border-width: 1px;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .details_container {
    border-style: solid;
    border-width: 1px;
  }
}
.details {
  padding-left: 0px;
}
.detail_numeral {
  font-size: 130px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  position: absolute;
  top: 0;
  z-index: -3;
  color: rgba(220, 209, 244, 0.61);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.detail_numeral::after {
  background-image: url(http://i.imgur.com/ZNWQkfr.png);
  background-size: cover;
  content: " ";
  position: absolute;
  height: 120%;
  width: 150%;
  top: 0;
  background-position-y: -27px;
  background-position-x: -30px;
}
.detail_title {
  z-index: 2;
  position: relative;
  margin-bottom: 0px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: auto;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .detail_description {
    padding-right: 40px;
  }
}
.video_container {
  position: relative;
}
.video_overlay {
  position: absolute;
  height: 99.5%;
  width: 100%;
  top: 0px;
  background: rgba(255,136,109,0.30);
}
.play_button {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  z-index: 99;
}
.play_button:hover {
  opacity: .75;
}
button {
  background: none;
  border: none;
  display: inline-block;
  text-align: center;
}
// footer component //
@media screen and (min-width: 1024px) {
  .footer {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 80%;
    background-color: #F8F9FA;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
    background-color: #F8F9FA;
  }
}
  .footer__inner {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    text-align: center;
  }
  .footer__icon-group {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .footer__icon-group--icon {
    padding-right: 16px;
  }

  // email signup sub-component //
  .footer__email-form--field {
    background: #FDFDFD;
    border-top: 1px solid #D4DDE1;
    border-bottom: 1px solid #D4DDE1;
    border-top: 1px solid #D4DDE1;
    border-left: 1px solid #D4DDE1;
    border-right: 0px solid #D4DDE1;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 80%;
    padding-right: 16px;
    padding: 8px;
  }
  .btn__subscribe {
    background-image: url(http://imgur.com/zH8INFl.png);
    width: 20%;
    background-position-x: 32px;
    background-position-y: 7px;
    background-repeat: no-repeat;
    background-size: 0%;
    background-color: #fff;
    padding: 2px 6px 3px;
    border-width: 0px;
    border-top: 1px solid #D4DDE1;
    border-bottom: 1px solid #D4DDE1;
    border-left: 0px;
    border-right: 1px solid #D4DDE1;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-opacity: 0;
  }
  .footer__email-form--group {
    display: flex;
  }
.footer__email-form--field:focus + .btn__subscribe {
  background-size: 28%;
  opacity: 1;
  transition: 0.3s;
  }



  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'proxima-nova';
    font-size: 16px;
    color: #7B939E;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: 'proxima-nova';
    font-size: 16px;
    color: #7B939E;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: 'proxima-nova';
    font-size: 16px;
    color: #7B939E;
    text-align: center;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: 'proxima-nova';
    font-size: 16px;
    color: #7B939E;
  }
  input:focus {
    outline-style: none;
    outline-width: 0px;
  }
// Detail card component //
  .detail-card {
    width: 100%;
    height: 20%;
    max-height: 20%;
    background: #FFFFFF;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 32px;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
    margin-right: 24px;
  }
// Collaborators component //
  .collaborator {
    display: flex;
  }

  .collaborators__heading {
    margin-bottom: 8px;
  }

  .collaborator__avatar {
    display: inline;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
  .collaborator__name {
    display: inline;
    padding-left: 13px;
    position: relative;
    font-family: 'proxima-nova';
    font-size: 20px;
    font-weight: 600;
  }
  .collaborator__role {
    display: inline;
    position: relative;
  }

// Image list component //
  .case-study__image-list--img {
    margin-bottom: 32px;
  }
